*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,p {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 20px;
}

article {
    height: 260vh;
    display: flex;
    flex-direction: column;

    justify-content:space-around;
}

#header {
    width:40%;
    
    display: block;
    align-self: center;
}

#imagebox {
    width: 500px;
    height: 500px;
    border: solid 10px black;
    border-radius: 15px;

    align-self: center;

    display: flex;

    justify-content: center;
    align-items: center;
}

img {
    width: 250px;
}

.content1 {
    display: flex;

    justify-content: space-around;
    
}

.content2 {
    display: flex;

    justify-content: space-around;
    
}

.screen {
    width: 250px;
    height: 250px;
    border: solid 10px black;
    border-radius: 15px;
}

.content1 .screen {
    display: flex;
    flex-direction: column;
}

.content2 .screen {
    display: flex;
    flex-direction: row;
}

.block {
    width: 30px;
    background-color: rgb(180, 0, 0);
    border-radius: 10px;
    margin: 5px;
}

/* Ajuste da primeira tela */
#b1,#b4,#b7,#b10,#b13,#b16,#b19,#b22,#b25,#b28 {
    height: 30px;
}

#b2,#b5,#b8,#b11,#b14,#b17,#b20,#b23,#b26,#b29 {
    height: 50px;
}

#b3,#b6,#b9,#b12,#b15,#b18,#b21,#b24,#b27,#b30 {
    height: 70px;
}

#screen1,#screen6 {
    justify-content: flex-start;
    align-items: flex-start;
}

#screen2,#screen7 {
    justify-content: flex-end;
    align-items: flex-start;
}

#screen3,#screen8 {
    justify-content: flex-start;
    align-items: flex-end;
}

#screen4,#screen9 {
    justify-content: flex-end;
    align-items: flex-end;
}

#screen5,#screen10 {
    justify-content: center;
    align-items: center;
}