h2,h3,p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p {
    font-size: 20px;
}

#hexadecimal {
    color: #00ff00;
}

#hexatransp {
    color: #00ff0080;
}

#rgb {
    color: rgb(0,255,0);
}

#rgba {
    color: rgb(0,255,0,0.5);
}

#hsl {
    color: hsl(120,100%,50%);
}

#hsla {
    color: hsl(120,100%,50%,0.5);
}

#padraobrower {
    color: yellow;
}